@mixin flx-content() {
  @include flex;

  &.align-items {
    &-center {
      align-items: center;
    }
  }

  &.justify-content {
    &-center {
      justify-content: center;
    }

    &-evenly {
      justify-content: space-evenly;
    }
  }

  &-all {
    justify-content: center;
    align-items: center;
  }

  &-col {
    flex-direction: column;
  }

  &-row {
    flex-direction: row;
  }


}

@mixin brand-content() {
  &-bg {

    @each $platform,
    $color in $brands {
      &-#{$platform} {
        background-color: $color;
      }
    }

  }
}

@mixin padding-content() {
  @each $size in $divides {
    &-top-#{$size} {
      padding-top: px($size);
    }

    &-bottom-#{$size} {
      padding-bottom: px($size);
    }

    &-left-#{$size} {
      padding-left: px($size);
    }

    &-right-#{$size} {
      padding-right: px($size);
    }

    &-inline-#{$size} {
      padding-inline: px($size);
    }

    &-block-#{$size} {
      padding-block: px($size);
    }
  }

  &-top-108 {
    padding-top: 108px;
  }

  &-top-30 {
    padding-top: 30px;
  }

  &-bottom-30 {
    padding-bottom: 30px;
  }
  &-bottom-56 {
    padding-bottom: 56px;
  }

  &-top-56 {
    padding-top: 56px;
  }

  &-top-auto {
    padding-top: initial;
  }


}
.z {
  &-2 {
    z-index: 2;
  }
  &-3 {
    z-index: 3;
  }
}

@mixin margin-content() {

  &-left {
    &-auto {
      margin-left: auto;
    }
  }

  &-right {
    &-auto {
      margin-right: auto;
    }
  }

  &-top {
    &-auto {
      margin-top: auto;
    }
  }

  &-bottom {
    &-auto {
      margin-bottom: auto;
    }
  }

  &-block {
    &-auto {
      margin-block: auto;
    }
  }


  @each $size in $divides {
    &-top-#{$size} {
      margin-top: px($size);
    }

    &-bottom-#{$size} {
      margin-bottom: px($size);
    }

    &-left-#{$size} {
      margin-left: px($size);
    }

    &-right-#{$size} {
      margin-right: px($size);
    }

    &-inline-#{$size} {
      margin-inline: px($size);
    }

    &-block-#{$size} {
      margin-block: px($size);
    }
  }


}

@mixin text-content() {
  &-color {
    &-primary {
      color: $color-primary;
    }
  }

  &-center {
    text-align: center;
  }

  &-s {
    &-55 {
      font-size: 55px;
      line-height: 130%;
    }

    &-28 {
      font-size: 28px;
      line-height: 40px;
    }

    &-24 {
      font-size: 24px;
      line-height: 34px;
    }

    &-26 {
      font-size: 26px;
      line-height: 30px;
    }

    &-16 {
      font-size: 16px;
      line-height: 30px;
    }

    &-20 {
      font-size: 20px;
      line-height: 30px;
    }

    &-40 {
      font-size: 40px;
      line-height: 53px;
    }
  }

  &-weight {
    &-400 {
      font-weight: 400;
    }

    &-500 {
      font-weight: 500;
    }

    &-600 {
      font-weight: 600;
    }

    &-700 {
      font-weight: 700;
    }
  }

  &-small-caps {
    font-variant: small-caps;
  }

  &-line-height {
    &-24 {
      line-height: 24px
    }
  }
}

.flx {
  @include flx-content();
}

.flex {
  &-g {
    &-1 {
      flex-grow: 1;
    }
  }
}

.gap {
  @each $size in $divides {
    &-#{$size} {
      gap: px($size);
    }
  }
}


.m {
  @include margin-content;
}

.p {
  @include padding-content;
}

.text {
  @include text-content;
}

.bg {
  &-color {
    &-yellow {
      background-color: $color-yellow;
    }

    &-primary {
      background-color: $color-primary;
    }

    &-dark-gray {
      background-color: $color-dark-gray;
    }

    &-gray {
      background-color: $color-gray;
    }
  }
}

.brand {
  @include brand-content;
}

.image-wrapper {
  // position: relative;

  img {
    display: block;
  }
}

.absolute {
  position: absolute;

  &-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.relative {
  position: relative;
}

.top-0 {
  top: 0;
}

.w {
  &-wide {
    width: 100%;
  }

  &-full {
    width: 100%;
  }

  &-max {
    &-747 {
      max-width: 747px;
    }
  }

  &-42 {
    width: 42px;
  }

  &-40 {
    width: 40px;
  }

  &-44 {
    width: 44px;
  }

  &-90 {
    width: 90px;
  }
}

.h {
  &-wide {
    height: 100%;
  }

  &-full {
    height: 100%;
  }

  &-max {
    &-747 {
      max-height: 747px;
    }
  }

  &-42 {
    height: 42px;
  }

  &-44 {
    height: 44px;
  }

  &-40 {
    height: 40px;
  }
}

.size {
  &-0 {
    height: 0;
  }

  &-h {
    &-full {
      height: 100%
    }
  }

  &-full {
    width: 100%;
    height: 100%;
  }
}


.full-page {
  // width: 100vw;
  // height: 100vh;

  @include max-min(min px($BP_TABLET_SM)) {
    &-md {
      width: 100%;
      height: 100vh;
    }
  }
}

.layout-wrap {
  @extend %layout-wrap;

  &.divide-h {
    margin-top: px($HEADER_SIZE);
  }

  &--section {}

  // @include max-min(min px($BP_TABLET_SM)) {
  //   &-md-out {
  //     @include layoutWrapOut(true);
  //   }
  // }
}

// .section-wrapper {


//   &-md-full {
//     @include max-min(min px($BP_TABLET_SM + 1)) {
//       height: 100%;
//     }
//   }
// }


.overflow {
  &-hidden {
    overflow: hidden
  }
}

.svg_load {
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 0px;
  height: 0px;
  z-index: 99999;
}

.page-scroller {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  // overscroll-behavior: ;
}

.SectionContainer {
  overflow: hidden;
}

.section {
  height: 100vh;
  width: 100%;
  // scroll-behavior: smooth;
  overflow: hidden;


  @include max-min(min px($BP_TABLET_SM)) {
    overflow: visible;
  }

  &-visible {
    overflow: visible !important;
  }

  &-scroll {
    overflow: auto !important;

    // max-height: 2000px !important;
    // height: auto !important;
    >div {
      height: 100vh;
    }
  }

  &-auto {
    overflow: hidden;

    @include max-min(min px($BP_TABLET_SM)) {
      overflow: visible;
    }
  }

  &-md-full {
    @include max-min(min px($BP_TABLET_SM + 1)) {
      height: 100vh;
    }
  }

  &-md-auto {
    @include max-min(min px($BP_TABLET_SM + 1)) {
      height: initial;
    }
  }
}

.md {
  @include max-min(min px($BP_TABLET_SM + 1)) {
    &-flx {
      @include flx-content();
    }

    &-brand {
      @include brand-content();

      &-bg-none {
        background-color: transparent;
      }
    }

    &-p {
      @include padding-content;
    }

    &-m {
      @include margin-content;
    }

    &-text {
      @include text-content;
    }

    &-hidden {
      display: none;
    }
  }
}

.md-l {
  @include max-min(min px($BP_LAPTOP_MD)) {
    &-flx {
      @include flx-content();
    }

    &-brand {
      @include brand-content();

      &-bg-none {
        background-color: transparent;
      }
    }

    &-p {
      @include padding-content;
    }

    &-m {
      @include margin-content;
    }

    &-text {
      @include text-content;
    }
  }
}

.l-sm {
  @include max-min(min px($BP_LAPTOP_SM)) {

    &-text {
      @include text-content;
    }

    &-w {
      &-490 {
        width: 490px;
      }
    }
  }
}

.lg {
  @include max-min(min px($BP_LAPTOP_MD)) {

    &-text {
      @include text-content;
    }

    &-w {
      &-619 {
        width: 619px;
      }
    }
  }
}

.b-radius {
  &-inherit {
    border-radius: inherit;
  }

  &-12 {
    border-radius: 12px;
  }

  &-4 {
    border-radius: 4px;
  }
}


//
.transition {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}


///

.header-p {
  padding-top: px($HEADER_SIZE);
}

@each $size in $divides {}

.page-divider {
  .top {
    padding-top: 80px;
  }
}

@keyframes shimmer {
  0% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0 0;
  }
}

.shimer {
  background-image: linear-gradient(90deg, #d3d2d2 0%, #d3d2d2 40%, #dddddd 50%, #dddddd 55%, #d3d2d2 65%, #d3d2d2 100%);
  animation: shimmer 1200ms infinite;
  background-size: 500%;
}