@font-face {
  font-family: 'avenirMedium';
  src: url('../src/assets/fonts/AvenirNextGeorgian-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'avenirBold';
  src: url('../src/assets/fonts/AvenirNextGeorgian-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

