html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  // height: 100%;
  width: 100%;
  // overflow: hidden;
}

body {
  background-color: $color-gray;
  max-width: 100%;
  overflow-x: hidden;
  // overflow: hidden;
  // >div {
  //   // !!!
  //   height: 100vh;
  //   width: 100%;
  // }
}

@import 'classes';
@import 'sassync/sass/_default/_theme/reset';

html,
body {
  font-family: 'Avenir Next Georgian';
}

.app-navigation {
  // background-color: aquamarine;
  width: 100%;
  height: initial;

  @include max-min(min px($BP_TABLET_SM)) {
    height: 100px;
  }

  .layout-wrap-out {
    // @include layout-wrap-out();
    margin-left: -16px;
    margin-right: -16px;

    @include max-min(min px($BP_TABLET_SM)) {
      margin-left: initial;
      margin-right: initial;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    top: 100%;
    // transform: translateX(-50%) translateY(-40px);
  }

  20% {
    opacity: .1;
    top: 50%;
    // transform: translateX(-50%) translateY(-40px);
  }

  50% {
    opacity: .5;
    top: 20%;
    // transform: translateX(-50%) translateY(-40px);
  }

  100% {
    opacity: 1;
    top: 0%;
    transform: translateX(-50%) translateY(-40px);
  }
}

.navigation2 {
  &-bg {
    display: none;

    @include max-min(min px($BP_TABLET_SM)) {
      display: block;
    }
  }

  &--item {
    position: relative;
    width: 300px;
    height: 300px;
    flex-shrink: 0;

    @include max-min(min px($BP_TABLET_SM)) {
      width: initial;
      height: initial;
    }

  }

  &--target {
    height: 100%;
    cursor: default;

    .title {
      z-index: 2;
      width: 100%;
      cursor: pointer;
      line-height: 100px;

      span {
        position: relative;
        z-index: 2;
      }

      &:hover {

        @include max-min(min px($BP_TABLET_SM)) {
          color: #FFF;
          overflow: visible;

          >div {
            top: -100%;
            transform: translateX(-50%) translateY(-40px);
            opacity: 1;
          }
        }

      }
    }

    .image-area {
      width: 300px;
      height: 300px;
      transform: translateY(-100px);
      position: absolute;
      top: 0;
      left: 0;

      >div {
        width: inherit;
        height: inherit;

        img {
          width: 100%;
          height: 100%;
        }
      }


      @include max-min(min px($BP_TABLET_SM)) {
        width: initial;
        height: initial;
        width: 180px;
        height: 180px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        transition: all .7s cubic-bezier(0.075, 0.82, 0.165, 1);
        opacity: 0;
        @include flex-all;
      }

    }


    &:hover {}
  }
}


$animation_time: .4s;
$bg_animation: all $animation_time ease-in-out,
height $animation_time ease-in-out;
$bg_animation_active: all $animation_time ease-in-out,
height $animation_time cubic-bezier(0.175, 0.885, 0.320, 1.15);
$img_animation: transform $animation_time cubic-bezier(0.175, 0.885, 0.320, 1.15),
top $animation_time ease-in-out,
opacity $animation_time ease-out;
$img_animation_active: transform $animation_time cubic-bezier(0.175, 0.885, 0.320, 1.15),
top $animation_time ease-in-out,
opacity $animation_time ease-in;

.navigation {
  &-bg {
    display: none;

    @include max-min(min px($BP_TABLET_SM)) {
      display: block;
    }
  }

  &-list {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 100px;
    padding-inline: 16px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    @include max-min(min px($BP_TABLET_SM)) {
      padding-top: 0;
      overflow: initial;
      // height: initial;
      height: initial;
      justify-content: space-between;
      padding-inline: initial;
    }

    @include max-min(min px($BP_TABLET_SM)) {
      .simple-bg {
        position: absolute;
        height: 0;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        transition: $bg_animation;

        &::before {
          // content: '';
          // height: 100%;
          // background-color: inherit;
          // position: absolute;
          // top: 0;
          // left: 0;
          // width: 100%;
          // z-index: 1;
          // transition: all .3s ease-in-out;
          // filter: grayscale(1);
        }

        &.active {
          height: 100%;
          background-color: transparent;
          transition: $bg_animation_active;
        }
      }
    }

    &.active {
      li {
        .title {
          color: rgba(#fff, .4);
        }

        &:not(active) {}
      }
    }

  }

  &--item {
    position: relative;
    width: 211px;
    height: 111px;
    flex-shrink: 0;
    z-index: 2;
    border-radius: 12px;

    @include max-min(min px($BP_TABLET_SM)) {
      width: initial;
      height: initial;
      // flex: 1;
      border-radius: initial;
    }


    @each $platform,
    $color in $brands {
      &.bg {
        &-#{$platform} {
          background-color: $color;

          @include max-min(min px($BP_TABLET_SM)) {
            background-color: transparent;
          }

          &:hover {

            // .image-area {

            //   @include max-min(min px($BP_TABLET_SM)) {
            //     top: -100%;
            //     transform: translateX(-50%) translateY(-40px);
            //     opacity: 1;
            //   }
            // }

            ~div {
              height: 100%;
              background-color: $color !important;
            }
          }
        }
      }
    }
  }

  &--target {
    height: 100%;
    // cursor: default;
    width: 100%;
    // height: initial;
    @include flex;

    @include max-min(min px($BP_TABLET_SM)) {
      width: initial;
      height: initial;
    }

    .title {
      position: absolute;
      bottom: 24px;
      right: 24px;
      color: #FFF;
      z-index: 5;
      transition: all .22s ease-in-out;

      &:hover {}

      @include max-min(min px($BP_TABLET_SM)) {
        position: unset;
        margin: auto;
        color: #000;
        width: 100%;

        &:hover {
          color: #FFF;
        }
      }
    }

    .image-area {
      width: 124px;
      height: 124px;
      transform: translateY(-50px);
      position: absolute;
      top: 0;
      left: 0;

      >div {
        width: inherit;
        height: inherit;

        img {
          width: 100%;
          height: 100%;
        }
      }

      @include max-min(min px($BP_TABLET_SM)) {
        width: initial;
        height: initial;
        width: 180px;
        height: 180px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%) translateY(0px);
        transition: $img_animation;
        opacity: 0;
        @include flex-all;
        pointer-events: none;
      }

    }


    &:hover {
      .title {
        color: #FFF !important;
      }

      .image-area {
        @include max-min(min px($BP_TABLET_SM)) {
          // transition: all .7s cubic-bezier(0.075, 0.82, 0.165, 1), opacity .4s ease-in-out;
          pointer-events: fill;
          transition: $img_animation_active;
          top: 0%;
          transform: translateX(-50%) translateY(-180px);
          opacity: 1;
        }
      }
    }
  }
}

.mobileContainer {
  display: block;

  @include max-min(min px($BP_TABLET_SM)) {
    display: none !important;
  }
}

.page-bg {
  // display: none;

  // @include max-min(min px($BP_TABLET_SM)) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // overflow: hidden;

  .bird {
    width: 284px;
    height: 364px;

    @include max-min(min px($BP_TABLET_SM + 1)) {
      width: 573px;
      height: 746px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .bird-top {
    position: absolute;
    right: -150px;
    left: initial;
    top: -50px;

    @include max-min(min px($BP_TABLET_SM + 1)) {
      top: - px(248 + 84);
      left: calc(100% - 130px);
    }
  }

  .bird-bottom {
    position: absolute;

    top: 350px;
    right: initial;
    left: -180px;

    @include max-min(min px($BP_TABLET_SM + 1)) {
      top: 300px;
      right: calc(100% + 180px);
      left: initial;
    }

  }

  // }
}

.faqBird-bg {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  right: -40px;
  top: 50%;
  transform: translateY(-50%) scale(1.5);
  z-index: 0;

  @include max-min(min px($BP_TABLET_SM)) {

    width: 97.3%;
    height: 97.3%;
  }

  svg {
    @include size(100%)
  }
}

.btn {
  &--wrap {
    background: #DB0060;
    border-radius: 12px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.video-container {

  width: 100%;
  position: relative;


  margin-bottom: 200px;

  .playBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .video-area {
    width: 100%;
    height: 209px;
    background: #FFFFFF;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;

    @include max-min(min px($BP_TABLET_SM + 1)) {
      height: 535px;
      // height: 509px;
    }
  }

  @include max-min(min px($BP_TABLET_SM + 1)) {
    width: 100%;
    height: 535px;
    // height: 509px;
  }

  .element {
    position: absolute;
    margin-top: 18px;
    top: 100%;
    left: 0;
  }
}

.svg-clipped {
  -webkit-clip-path: url(#svgPath);
  clip-path: url(#svgPath);
  background-color: rgba($color-primary, .2);
}

.small-header {
  background-color: $color-dark;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  height: px($SMALL_HEAD_ER);
  color: #FFF;
  // display: none;
  z-index: 555;

  @include max-min(min px($BP_TABLET_SM + 1)) {
    display: block;
  }

  .auth-btn {
    border-radius: 4px;
  }

  ul {
    @include flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;

    li {
      line-height: 17px;
      font-weight: 400;
      font-size: 12px;
      height: 100%;
      color: #FFF;
      position: relative;

      @each $platform,
      $color in $brands {
        &.#{$platform} {
          a {
            &:hover {
              &:after {
                background-color: $color;
              }
            }
          }
        }
      }
    }

    a {
      @include flex-all;
      height: 100%;

      &:after {
        content: "";
        display: block;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 100%;
        position: absolute;
        border-radius: 4px 4px 0 0;
        transition: all .125s ease-in-out;
      }

      &:hover {
        color: darken(#FFF, 5%);
      }
    }
  }
}

.withFooter {}


.mobile-menu {
  position: fixed;
  padding-top: px($SMALL_HEAD_ER);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5555;

  &.bitmore {
    padding-top: 0;
  }

  @include max-min(min px($BP_TABLET_SM + 1)) {
    top: px($HEADER_SIZE);
    display: none;
  }

  &-wrap {
    background-color: #FFF;
    height: 100%;
  }

  &.show {}

  .lang-area {
    height: px($HEADER_MOBILE_SIZE);
  }

  .bordered {
    border: 2px solid $color-primary;
  }

  .nav-list {
    @include flex;
    flex-wrap: wrap;
    gap: 8px;

    li {
      flex: calc(50% - 8px);
      height: 83px;
      flex-grow: 0;
      @include flex;
      flex-direction: column;
      padding-inline: 20px;
      padding-top: 16px;
      border-radius: 12px;

      .title {
        margin-top: auto;
        padding-bottom: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        /* White/White */
        color: #FFFFFF;
      }

      @each $platform,
      $color in $brands {
        &.#{$platform} {
          background-color: $color;
        }
      }
    }
  }

}

.drop {
  &-outline {
    position: absolute;
    top: 100%;
    right: 0;
    color: #000;
    background: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 1px rgba(56, 56, 56, 0.1);
    border-radius: 12px;
    margin-top: 4px;
  }
}

.langBtn {
  display: none;

  @include max-min(min px($BP_TABLET_SM + 1)) {
    display: flex;
  }
}